@import url("_variables.css");

/* 
MAIN
- main CSS file of the project
 */

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background);
  color: #fff;
}

/* TYPOGRAPHY */
h1,
h2 {
  font-weight: var(--fontWeightBold);
}

h1 {
  color: var(--colorH1);
  font-size: 5.8rem;
}

h2 {
  color: var(--colorH2);
  font-size: 4.8rem;
}

h3 {
  color: var(--colorH3);
  font-weight: var(--fontWeightRegular);
  font-size: 3.2rem;
}

h4 {
  color: var(--colorH4);
  font-weight: var(--fontWeightMedium);
  font-size: 2.8rem;
}

p {
  color: var(--colorP);
  font-weight: var(--fontWeightLight);
  font-size: 1.8rem;
}

section {
  margin: 200px 0;
}

.primaryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primaryHeader .columnLeft {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.primaryHeader .columnLeft button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.primaryHeader .columnLeft button svg {
  stroke: var(--colorText);
}

.primaryHeader .columnLeft h2 {
  font-size: 4rem;
  font-weight: var(--fontWeightBold);
}

.primaryHeader .columnRight {
  width: 80%;
}

.primaryHeader .columnRight nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.primaryHeader .columnRight nav ul li a {
  color: var(--colorPrimaryMenu);
  font-size: 2rem;
  font-weight: var(--fontWeightMedium);
  text-decoration: none;
}

.container {
  /* width: 100%; */
  width: 1024px;
  margin: 0 auto;
}

/* BANNER SECTION */

.sectionBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionBanner .columnLeft h1 {
  line-height: 7rem;
}

.sectionBanner .columnLeft h1 span {
  background: var(--primaryGradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionBanner .columnRight {
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 349px;
  height: 349px;
}
.sectionBanner .columnRight img {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 100%;
}

.sectionBanner .columnRight::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--primaryGradient);
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  transform: rotate(-90deg);
}

/* TECH STACK SECTION */

.sectionTechStack header {
  text-align: center;
}

.sectionTechStack header h2 {
  margin-bottom: 10px;
}

.sectionTechStack header h3 {
  margin-top: 0;
}

.sectionTechStack .stackImagesContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 70px;
  margin-top: 100px;
}

.imageLight,
.imageDark {
  display: none;
}

html[data-theme="light"] .imageLight {
  display: inline-block !important;
}

html[data-theme="dark"] .imageDark {
  display: inline-block !important;
}
